<%- include('../../partials/head') %>
<%- include('../../partials/navbar') %>

<div class="container">
  <div class="card my-5">
    <div class="card-header">
      <h2 class="mt-2">Cadastro de categoria</h2>
    </div>
    <div class="card-body">
      <form action="/categories/save" method="post">
        <input type="text" name="title" placeholder="Defina o título da categoria" class="form-control my-2">
        <button class="btn btn-success">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<%- include('../../partials/foot') %>