<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">GuiaPress</a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="/admin/categories" class="nav-link">Categorias</a>
    </li>
  </ul>
</nav>
